@mixin tam-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

.img-test-1 {
    @include tam-img
  }

.img-test-2 {
    @include tam-img
  }

.img-test-3 {
    @include tam-img
  }